@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<h2><b>Database</b>: Microsoft SQL Server</h2>
<h2><b>Technology</b>: ASP .Net Framework</h2>
<h2><b>Model</b>: Model View Controller</h2>
<h2><b>Languages</b>: C#</h2>
