@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3></h3>


<div class="row">
    <center>
        <div class="col-md-4">
            <address>
                <br />Harsh Sutariya<br />
                <abbr title="Student ID">ID:</abbr>
                105119906<br />
                <abbr title="Phone">P:</abbr>
                519.982.5268
            </address>
            <address>
                <strong>e-mail:</strong>   <a href="">sutariyh@uwindsor.ca</a><br />
            </address>
        </div>
    </center>
    <center>
        <div class="col-md-4">
            <address>
                <br />Harsh Bajaj<br />
                <abbr title="Student ID">ID:</abbr>
                105149202<br />
                <abbr title="Phone">P:</abbr>
                519.890.8570<br />
            </address>
            <address>
                <strong>e-mail:</strong>   <a href="">bajaj114@uwindsor.ca</a><br />
            </address>
        </div>
    </center>
    <center>
        <div class="col-md-4">
            <address>
                <br />Jalpa Patel<br />
                <abbr title="Student ID">ID:</abbr>
                105148133<br />
                <abbr title="Phone">P:</abbr>
                226.961.2039<br />
            </address>
            <address>
                <strong>e-mail:</strong>   <a href="">patel23j@uwindsor.ca</a><br />
            </address>
        </div>
    </center>
</div>